<app-agent-nav></app-agent-nav>
<section class="section mt-5 p-5" @fadeInOut>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 m-auto p-3">
        <div class="cared">
          <h3 class="card-title text-center mt-3 mb-5 fw-bold">Mogasoft Agent Panel</h3>
          <div class="card-body row text-center">
            <div class="col-lg-4 col-md-6 col-sm-12 my-2">
              <a class="text-reset text-decoration-none" routerLink="/agent/list">
                <div class="list">
                  <i class="fa-solid fa-list fs-1"></i>
                  <br>
                  <strong>Show List</strong>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 my-2">
              <a class="text-reset text-decoration-none" routerLink="/agent/add">
                <div class="add">
                  <i class="fa-solid fa-plus fs-1"></i>
                  <br>
                  <strong>Add New</strong>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 my-2">
              <a class="text-reset text-decoration-none" routerLink="/agent/orders">
                <div class="add">
                  <i class="fa-regular fa-message fs-1"></i>
                  <br>
                  <strong>Orders</strong>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>