<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" routerLink="/home"><img src="assets/vendors/imgs/logo.png" class="img-fluid" width="120"
        alt=""></a>
    <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fa-solid fa-bars-staggered fs-3 shadow-none"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="activ" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="activ" routerLink="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="activ" routerLink="/properties">Properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="activ" routerLink="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="userId" routerLinkActive="activ" routerLink="/profile">Profile</a>
        </li>
      </ul>
      <button class=" btn-darker" routerLink="/contact">Contact US</button>
    </div>
  </div>
</nav>