<app-admin-nav></app-admin-nav>
<main class="mt-4" @fadeInOut>
  <div class="container py-4 col-lg-6 col-md-8 col-sm-10 col-12">
    <div class="card text-light">
      <div class="card-body">
        <h2 class="text-success text-center fw-bold">Add New Agent</h2>
        <form [formGroup]="agentForm" (ngSubmit)="add()">
          <div class="form-group mt-2">
            <label class="form-label">Agent Name</label>
            <input formControlName="Name" type="text" class="form-control shadow-none shadow-none" name="name" id="name"
              placeholder="Enter Agent Name" required />
          </div>
          <div class="info mt-2 row">



            <div class="col-lg- col-12">
              <div class="form-group">
                <label class="form-label">Agent Phone</label>
                <input formControlName="Phone" class="form-control shadow-none" placeholder="Enter Agent Phone"
                  type="text" id="phone" name="phone">
              </div>
            </div>
          </div>
          <div class="info mt-2 row">

            <div class="col-lg-6 col-12">
              <div class="form-group">
                <label class="form-label">Agent Email</label>
                <input formControlName="Email" class="form-control shadow-none" placeholder="Enter Agent Email"
                  type="text" id="email" name="email">
              </div>
            </div>

            <div class="col-lg-6 col-12">
              <div class="form-group">
                <label class="form-label">Agent Password</label>
                <input formControlName="Password" class="form-control shadow-none" placeholder="Enter Agent Password"
                  type="password" id="password" name="password">
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group mt-2">
              <label class="form-label">Agent Logo</label>
              <input type="file" class="form-control shadow-none" name="image" id="image" formControlName="Image"
                (change)="onFileSelected($event)">
            </div>
          </div>


          <div class="form-group mt-3 text-center">
            <button type="submit" class="btn-purble" [disabled]="agentForm.invalid">Add
              Agent</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>