.imag {
  flex: none;
  width: 44px;
  height: 44px;
  line-height: 39px;
  border-radius: 4px;
  border: 1px solid rgba(164, 181, 186, 0.5);
  text-align: center;
  transition: 0.5s;
}

.boxe:hover .imag {
  background-color: var(--grey10);
}

.boxe {
  .txt {
    h4 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0;
    }

    ;

    p {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: -0.3em;
    }
  }
}

ul {
  list-style: none;
}

.agent-info {
  background-color: var(--grey10);
  border: none;
  border-radius: 10px;

  ul {
    list-style: none;
  }

  ul li i {
    filter: brightness(9);
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
  }

  .fa-brands {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 6px;
    margin: 10px;
    transition: 0.4s;
    color: var(--white97);
  }

  .fa-brands:hover {
    background-color: #EED26E;
    color: var(--grey10);
  }
}

.nav-tab {
  /* background-color: var(--grey10); */
  border: none;
  border-radius: 10px;

  h3 {
    color: var(--purble60);
  }

  .nav-link {
    background-color: transparent;
    color: var(--purble60);
    border: 1px solid var(--purble60);
    border-radius: 20px;
    margin: 2px;
  }

  .nav-item .active {
    background-color: var(--purble60);
    color: white;
    font-weight: 400;
  }

  .imdg {
    background-color: var(--white97);
    border: none;
    border-radius: 10px;
    padding: 20px;
  }
}

.p-toast {
  z-index: 9999 !important;
}