<app-agent-nav></app-agent-nav>
<main class="mt-4" @fadeInOut>
  <div class="container py-4 col-lg-6 col-md-8 col-sm-10 col-12">
    <div class="card text-light">
      <div class="card-body">
        <h2 class="text-success text-center fw-bold">Update {{props.name}}</h2>
        <form [formGroup]="propertyForm" (ngSubmit)="updateProperty()">
          <div class="form-group mt-2">
            <label class="form-label">Property Name</label>
            <input type="text" class="form-control shadow-none" formControlName="name" placeholder="Enter Property Name"
              required />
          </div>

          <div class="price mt-2 row">
            <div class="col-lg-6 col-12">
              <div class="form-group">
                <label class="form-label">Property Price</label>
                <input type="number" class="form-control shadow-none" formControlName="price" placeholder="Enter Price"
                  required />
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="form-group">
                <label class="form-label">Property Location</label>
                <input type="text" class="form-control shadow-none" formControlName="location"
                  placeholder="Enter Location" required />
              </div>
            </div>
          </div>

          <div class="imgs mt-2 row">
            <div class="col-12">
              <div class="form-group mt-2">
                <label class="form-label">Property Head Image</label>
                <input type="file" class="form-control shadow-none" (change)="onFileSelected($event, 'headImage')" />
              </div>
            </div>
            <div class="col-lg-4 col-12">
              <div class="form-group mt-2">
                <label class="form-label">Property Image 1</label>
                <input type="file" class="form-control shadow-none" (change)="onFileSelected($event, 'image1')" />
              </div>
            </div>
            <div class="col-lg-4 col-12">
              <div class="form-group mt-2">
                <label class="form-label">Property Image 2</label>
                <input type="file" class="form-control shadow-none" (change)="onFileSelected($event, 'image2')" />
              </div>
            </div>
            <div class="col-lg-4 col-12">
              <div class="form-group mt-2">
                <label class="form-label">Property Image 3</label>
                <input type="file" class="form-control shadow-none" (change)="onFileSelected($event, 'image3')" />
              </div>
            </div>
          </div>

          <div class="form-group mt-2">
            <label class="form-label">Property Video</label>
            <input type="file" class="form-control shadow-none" (change)="onFileSelected($event, 'video')" />
          </div>

          <div class="form-group mt-2">
            <label class="form-label">Property Type</label>
            <select class="form-select shadow-none" formControlName="type">
              <option value="House"> House</option>
              <option value="Villa"> Villa</option>
              <option value="Apartment"> Apartment</option>
              <option value="Office"> Office</option>
              <option value="Store"> Store</option>
            </select>
          </div>

          <div class="info mt-2 row">
            <div class="col-lg-3 col-12">
              <div class="form-group mt-2">
                <label class="form-label">Bathrooms</label>
                <input type="number" class="form-control shadow-none" formControlName="bathroomsCount"
                  placeholder="Num of Baths" required />
              </div>
            </div>
            <div class="col-lg-3 col-12">
              <div class="form-group mt-2">
                <label class="form-label">Bedrooms</label>
                <input type="number" class="form-control shadow-none" formControlName="roomsCount"
                  placeholder="Num of Beds" required />
              </div>
            </div>
            <div class="col-lg-3 col-12">
              <div class="form-group mt-2">
                <label class="form-label">Floors</label>
                <input type="number" class="form-control shadow-none" formControlName="floorsCount"
                  placeholder="Num of Floors" required />
              </div>
            </div>
            <div class="col-lg-3 col-12">
              <div class="form-group mt-2">
                <label class="form-label">Property Area</label>
                <input type="number" class="form-control shadow-none" formControlName="size" placeholder="Enter Area"
                  required />
              </div>
            </div>
          </div>

          <div class="form-group mt-2">
            <label class="form-label">Property Purpose</label>
            <select class="form-select shadow-none" formControlName="purpose">
              <option value="For Rent"> For Rent</option>
              <option value="For Sale"> For Sale</option>
            </select>
          </div>

          <div class="checks mt-2 row">
            <div class="col-lg-4 col-12">
              <div class="form-group mt-2">
                <label class="form-label">Parking</label>
                <input type="text" class="form-control shadow-none" formControlName="parking" placeholder="Parking?"
                  required />
              </div>
            </div>
            <div class="col-lg-4 col-12">
              <div class="form-group mt-2">
                <label class="form-label">WiFi</label>
                <input type="text" class="form-control shadow-none" formControlName="wifi" placeholder="WiFi?"
                  required />
              </div>
            </div>
            <div class="col-lg-4 col-12">
              <div class="form-group mt-2">
                <label class="form-label">Elevator</label>
                <input type="text" class="form-control shadow-none" formControlName="elevator" placeholder="Elevator?"
                  required />
              </div>
            </div>
          </div>

          <div class="form-group mt-2">
            <label class="form-label">Property Description</label>
            <textarea class="form-control shadow-none" formControlName="description" cols="30" rows="5"
              placeholder="Description" required></textarea>
          </div>

          <div class="form-group mt-2 text-center">
            <button type="submit" class="btn-purble" [disabled]="propertyForm.invalid">Update Property</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>