<app-nav></app-nav>
<main id="services" @fadeInOut>
  <section class="section1 p-5">
    <div class="container">
      <h1>Elevate Your Real Estate Experience</h1>
      <p>Welcome to Mogasoft, where your real estate aspirations meet expert guidance. Explore our
        comprehensive range of services, each designed to cater to your unique needs and dreams.</p>
    </div>
  </section>
  <section class="section2 p-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 cpl-sm-12">
          <div class="box mb-lg-0 mb-3">
            <div class="box-icon">
              <img src="assets/vendors/imgs/Union.png" class="fa" alt="">
              <img src="assets/vendors/imgs/Icon Container.png" class="img-fluid img-container " alt="">
            </div>
            <p class="pt-3">Find your Dream Home</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 cpl-sm-12">
          <div class="box mb-lg-0 mb-3">
            <div class="box-icon">
              <img src="assets/vendors/imgs/money.png" class="fa" alt="">
              <img src="assets/vendors/imgs/Icon Container.png" class="img-fluid img-container" alt="">
            </div>
            <p class="pt-3">Unlock Property Value</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 cpl-sm-12">
          <div class="box mb-lg-0 mb-3">
            <div class="box-icon">
              <img src="assets/vendors/imgs/property.png" class="fa" alt="">
              <img src="assets/vendors/imgs/Icon Container.png" class="img-fluid img-container" alt="">
            </div>
            <p class="pt-3">Property Management</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 cpl-sm-12">
          <div class="box mb-lg-0 mb-3">
            <div class="box-icon">
              <img src="assets/vendors/imgs/sun.png" class="fa" alt="">
              <img src="assets/vendors/imgs/Icon Container.png" class="img-fluid img-container" alt="">
            </div>
            <p class="pt-3">Smart Investments</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section3 p-5">
    <div class="container">
      <div class="title">
        <img src="assets/vendors/imgs/stars.png" alt="">
        <h2 class="text-white">Unlock Property Value</h2>
        <p>Selling your property should be a rewarding experience, and at Mogasoft, we make sure it is. Our
          Property Selling Service is designed to maximize the value of your property, ensuring you get
          the best deal possible. Explore the categories below to see how we can help you at every step of
          your selling journey</p>
      </div>
      <div class="row mt-2">
        <div class="col-lg-4 col-md-6 col-12 mt-4">
          <div class="carde p-3">
            <div class="titled mb-lg-0 mb-3">
              <div class="box-icon">
                <img src="assets/vendors/imgs/valuation.png" class="fa" alt="">
                <img src="assets/vendors/imgs/Icon Container.png" class="img-fluid img-container " alt="">
              </div>
              <h6 class="ps-3 text-white">Find your Dream Home</h6>
            </div>
            <p class="mt-3">Discover the true worth of your property with our expert valuation services.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-4">
          <div class="carde p-3">
            <div class="titled mb-lg-0 mb-3">
              <div class="box-icon">
                <img src="assets/vendors/imgs/stratgy.png" class="fa" alt="">
                <img src="assets/vendors/imgs/Icon Container.png" class="img-fluid img-container " alt="">
              </div>
              <h6 class="ps-3 text-white">Strategic Marketing</h6>
            </div>
            <p class="mt-3">Selling a property requires more than just a listing; it demands a strategic
              marketing approach.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-4">
          <div class="carde p-3">
            <div class="titled mb-lg-0 mb-3">
              <div class="box-icon">
                <img src="assets/vendors/imgs/negotaion.png" class="fa" alt="">
                <img src="assets/vendors/imgs/Icon Container.png" class="img-fluid img-container " alt="">
              </div>
              <h6 class="ps-3 text-white">Negotiation Wizardry</h6>
            </div>
            <p class="mt-3">Negotiating the best deal is an art, and our negotiation experts are masters
              of it.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-4">
          <div class="carde p-3">
            <div class="titled mb-lg-0 mb-3">
              <div class="box-icon">
                <img src="assets/vendors/imgs/success.png" class="fa" alt="">
                <img src="assets/vendors/imgs/Icon Container.png" class="img-fluid img-container " alt="">
              </div>
              <h6 class="ps-3 text-white">Closing Success</h6>
            </div>
            <p class="mt-3">A successful sale is not complete until the closing. We guide you through
              the intricate closing process.
            </p>
          </div>
        </div>
        <div class="col-lg-8 col-md-6 col-12 mt-4">
          <div class="special">
            <h3 class="text-white">Unlock the Value of Your Property Today</h3>
            <p class="mt-4">Ready to unlock the true value of your property? Explore our Property
              Selling Service
              categories and let us help you achieve the best deal possible for your valuable asset.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section4 p-5">
    <div class="container">
      <div class="title">
        <img src="assets/vendors/imgs/stars.png" alt="">
        <h2 class="text-white">Unlock Property Value</h2>
        <p>Selling your property should be a rewarding experience, and at Mogasoft, we make sure it is. Our
          Property Selling Service is designed to maximize the value of your property, ensuring you get
          the best deal possible. Explore the categories below to see how we can help you at every step of
          your selling journey</p>
      </div>
      <div class="row mt-2">
        <div class="col-lg-4 col-md-6 col-12 mt-4">
          <div class="carde p-3">
            <div class="titled mb-lg-0 mb-3">
              <div class="box-icon">
                <img src="assets/vendors/imgs/tenant.png" class="fa" alt="">
                <img src="assets/vendors/imgs/Icon Container.png" class="img-fluid img-container " alt="">
              </div>
              <h6 class="ps-3 text-white">Tenant Harmony</h6>
            </div>
            <p class="mt-3">Our Tenant Management services ensure that your tenants have a smooth and
              reducing vacancies.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-4">
          <div class="carde p-3">
            <div class="titled mb-lg-0 mb-3">
              <div class="box-icon">
                <img src="assets/vendors/imgs/maintence.png" class="fa" alt="">
                <img src="assets/vendors/imgs/Icon Container.png" class="img-fluid img-container " alt="">
              </div>
              <h6 class="ps-3 text-white">Maintenance Ease</h6>
            </div>
            <p class="mt-3">Say goodbye to property maintenance headaches. We handle all aspects of
              property upkeep.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-4">
          <div class="carde p-3">
            <div class="titled mb-lg-0 mb-3">
              <div class="box-icon">
                <img src="assets/vendors/imgs/finance.png" class="fa" alt="">
                <img src="assets/vendors/imgs/Icon Container.png" class="img-fluid img-container " alt="">
              </div>
              <h6 class="ps-3 text-white">Financial Peace of Mind</h6>
            </div>
            <p class="mt-3">Managing property finances can be complex. Our financial experts take care
              of rent collection
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-4">
          <div class="carde p-3">
            <div class="titled mb-lg-0 mb-3">
              <div class="box-icon">
                <img src="assets/vendors/imgs/sun.png" class="fa" alt="">
                <img src="assets/vendors/imgs/Icon Container.png" class="img-fluid img-container " alt="">
              </div>
              <h6 class="ps-3 text-white">Legal Guardian</h6>
            </div>
            <p class="mt-3">Stay compliant with property laws and regulations effortlessly.
            </p>
          </div>
        </div>
        <div class="col-lg-8 col-md-6 col-12 mt-4">
          <div class="special">
            <h3 class="text-white">Experience Effortless Property Management</h3>
            <p class="mt-4">Ready to experience hassle-free property management? Explore our Property
              Management Service categories and let us handle the complexities while you enjoy the
              benefits of property ownership.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section5 p-5">
    <div class="container">
      <div class="title">
        <img src="assets/vendors/imgs/stars.png" alt="">
      </div>
      <div class="row big">
        <div class="col-lg-4 col-12">
          <div class="lft">
            <h3 class="fs-2 text-white">Smart Investments, <br> Informed Decisions</h3>
            <p>Building a real estate portfolio requires a strategic approach. Mogasoft's Investment
              Advisory Service empowers you to make smart investments and informed decisions.</p>
            <div class="box p-3">
              <h6 class="text-white fs-5">Unlock Your Investment Potential</h6>
              <p>Explore our Property Management Service categories and let us handle the complexities
                while you enjoy the benefits of property ownership.</p>
              <button class="btn-darker w-100">Learn More</button>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-12">
          <div class="rit row">
            <div class="col-lg-6 col-12 mt-4 ">
              <div class="carde p-3">
                <div class="titled mb-lg-0 mb-3">
                  <div class="box-icon">
                    <img src="assets/vendors/imgs/tenant.png" class="fa" alt="">
                    <img src="assets/vendors/imgs/Icon Container.png" class="img-fluid img-container " alt="">
                  </div>
                  <h6 class="ps-3 fw-bold text-white">Tenant Harmony</h6>
                </div>
                <p class="mt-3">Our Tenant Management services ensure that your tenants have a
                  smooth and
                  reducing vacancies.
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-12 mt-4 ">
              <div class="carde p-3">
                <div class="titled mb-lg-0 mb-3">
                  <div class="box-icon">
                    <img src="assets/vendors/imgs/tenant.png" class="fa" alt="">
                    <img src="assets/vendors/imgs/Icon Container.png" class="img-fluid img-container " alt="">
                  </div>
                  <h6 class="ps-3 text-white">Tenant Harmony</h6>
                </div>
                <p class="mt-3">Our Tenant Management services ensure that your tenants have a
                  smooth and
                  reducing vacancies.
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-12 mt-4 mb-4">
              <div class="carde p-3">
                <div class="titled mb-lg-0 mb-3">
                  <div class="box-icon">
                    <img src="assets/vendors/imgs/tenant.png" class="fa" alt="">
                    <img src="assets/vendors/imgs/Icon Container.png" class="img-fluid img-container " alt="">
                  </div>
                  <h6 class="ps-3 text-white">Tenant Harmony</h6>
                </div>
                <p class="mt-3">Our Tenant Management services ensure that your tenants have a
                  smooth and
                  reducing vacancies.
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-12 mt-4 mb-4">
              <div class="carde p-3">
                <div class="titled mb-lg-0 mb-3">
                  <div class="box-icon">
                    <img src="assets/vendors/imgs/tenant.png" class="fa" alt="">
                    <img src="assets/vendors/imgs/Icon Container.png" class="img-fluid img-container " alt="">
                  </div>
                  <h6 class="ps-3 text-white">Tenant Harmony</h6>
                </div>
                <p class="mt-3">Our Tenant Management services ensure that your tenants have a
                  smooth and
                  reducing vacancies.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>