<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" routerLink="/home"><img src="assets/vendors/imgs/logo.png" width="120" class="img-fluid"
        alt=""></a>
    <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fa-solid fa-bars-staggered fs-3 shadow-none"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/dashboard">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Agent
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/admin/agents/add">Add Agent</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/agents/list">Agents List</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Property
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/admin/properties/list">Properties List</a>
            </li>
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/admin/orders">Orders</a>
        </li> -->
      </ul>
      <form class="d-flex" role="search">
        <button (click)="logout()" class="btn btn-danger" type="submit">Log Out</button>
      </form>
    </div>
  </div>
</nav>