<section class="upfooter p-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="txt">
          <h2 class="text-white">Start Your Real Estate Journey Today</h2>
          <p>Your dream property is just a click away. Whether you're looking for a new home, a strategic
            investment, or expert real estate advice, Mogasoft is here to assist you every step of the
            way.</p>
        </div>
      </div>
      <div class="col-md-6 text-end">
        <div class="btns">
          <button class="btn-purble" routerLink="/properties">Explore Properties</button>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="p-3">
  <div class="container">
    <div class="row align-items-center justify-content-between text-center">
      <div class="col-4">
        <p class="text-white m-0">2025 Mogasoft. All Rights Reserved.</p>
      </div>
      <div class="col-lg-4">
        <img src="assets/vendors/imgs/logo.png" width="120" alt="">
      </div>
      <div class="col-lg-4">
        <div class="social">
          <a class="text-reset text-decoration-none" href="#"><i
              class="fa-brands p-2 fs-5 rounded-circle text-white fa-facebook"></i></a>
          <a class="text-reset text-decoration-none" href="#"><i
              class="fa-brands p-2 fs-5 rounded-circle text-white fa-x-twitter"></i></a>
          <a class="text-reset text-decoration-none" href="#"><i
              class="fa-brands p-2 fs-5 rounded-circle text-white fa-instagram"></i></a>
          <a class="text-reset text-decoration-none" href="#"><i
              class="fa-brands p-2 fs-5 rounded-circle text-white fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>